<!DOCTYPE html>
<html>
  <head>
    <title>Cornerstone</title>
    <%= stylesheet_link_tag 'application', '/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', '/js/bootstrap.min.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Cornerstone</a>
          <ul class="nav pull-right">
              <li><%= link_to 'Home', '/' %></li>
              <li class="divider-vertical"></li>
            <% if !current_user %>
              <li>
              <%= link_to "Sign in with Facebook", "/auth/facebook" %>
              </li>
              <li class="divider-vertical"></li>
              <li>
              <%= link_to 'Sign In', new_user_session_path %>
              </li>
            <% else %>
              <li><%= link_to 'Your account', '/users' %></li>
              <li class="divider-vertical"></li>
              <li>
              <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-error"><%= alert %></div>
      <% end %>
 
      <%= yield %>
    </div>
  </body>
</html>
