<!DOCTYPE html>
<html>
  <head>
    <title>Cornerstone</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>
          Site name
        </h1>
      </div>
      <div id="navigation">
        <%= navigation_content %>
      </div>
      <div id="content-container">
        <div id="content">
          <% if notice.present? %>
            <p class="notice"><%= notice %></p>
          <% end %>

          <% if alert.present? %>
            <p class="alert"><%= alert %></p>
          <% end %>

          <%= yield %> 
        </div>
        <div id="aside">
          <%= yield :aside %>        
        </div>
        <div id="footer">
          Copyright © Your App, <%= Time.now.year %> -- Based on <%= link_to 'Cornerstone', 'http://github.com/ryana/cornerstone', :target => :blank %>
        </div>
      </div>
    </div>


  </body>
</html>
